<h1 class='logo text-center'>Ideapad</h1>
<div class="container mt-5">
    <div class="h-50 row align-items-center justify-content-center">
        <p class=" h4 mt-4 col-md-5 col-lg-5">
            <a class="blue-btn btn btn-block full-width" role="button" href="ideas">
                Browse Ideas
            </a>
        </p>
        <div class=" w-100">
        </div>
        <p class=" h4 mt-4 col-md-5 col-lg-5">
            <a class="white-btn btn btn-block full-width" role="button" href="post">
                Post Idea
            </a>
        </p>

    </div>
    <div class="footer mb-4">
        Made with <i class="fas fa-heart"></i> by
        <a class="name" href="https://github.com/adzo261" target="_blank">
            Aditya
            Zope
        </a>
    </div>
</div>
<