<a href="/" class="home">
    <h1 class='logo-sm text-center mt-4'>Ideapad</h1>
</a>
<div class="container">
    <div class="row justify-content-center mt-5 mb-4">
        {{#each data}}
        <div class="card card-body col-10 col-md-12 col-lg-12 mb-4">
            {{{this}}}
        </div>
        {{/each}}

    </div>
</div>