<a href="/" class="home">
    <h1 class='logo-sm text-center mt-4'>Ideapad</h1>
</a>
<div class="container">
    <div class="row justify-content-center mt-5 mb-4">
        <div class="card card-body col-10 col-md-12 col-lg-12">
            <div class="content-section">
                <form method="POST">

                    <fieldset class="form-group">
                        <legend class="custom-border mb-4 text-center">Post an Idea</legend>


                        <textarea name="content" id="markdown" rows="10">{{defaultMD}}</textarea>

                    </fieldset>
                    <div class="form-group" style="text-align: center">
                        <button class="blue-btn btn" type="submit">Post</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>